* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* margin: 0 2.5rem;
  padding: 0.5rem 0; */
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 80px;
}

.link {
  margin: 0 25px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.header-items :hover {
  color: rgb(243, 46, 46);
}

.header__icon {
  width: 80px;
  cursor: pointer;
}
.user__avatar {
  font-size: 2rem;
}

.hamburger-logo {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

.header-items #hidden {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .header-items {
    display: none;
  }
  .hamburger-logo {
    display: block;
    transition: all 0.3 ease-out;
  }
  .header {
    align-items: center;
    justify-content: space-between;
  }

  .header-items #hidden {
    position: absolute;
    left: 0;
    top: 50px;
    height: 200px;
    width: 100%;
    background-color: aliceblue;
  }
}
